{"openapi":"3.0.3","info":{"title":"SAP AI Core - Orchestration Completion","description":"Minimale OpenAPI Spec fuer den SAP AI Core Orchestration Completion Endpoint. Optimiert fuer SAP Build Process Automation Actions.","version":"1.0.0"},"servers":[{"url":"https://api.ai.prod.eu-central-1.aws.ml.hana.ondemand.com/v2/inference/deployments/{deploymentId}","description":"SAP AI Core Orchestration Deployment","variables":{"deploymentId":{"default":"d91f4280c50fbc2c","description":"The Orchestration Deployment ID"}}}],"paths":{"/completion":{"post":{"operationId":"orchestrationCompletion","summary":"Run an orchestrated completion inference request","description":"Sends a completion request to the SAP AI Core Orchestration service with an inline config or config reference.","parameters":[{"name":"AI-Resource-Group","in":"header","required":true,"schema":{"type":"string","default":"default"},"description":"The AI resource group"}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompletionRequest"},"example":{"orchestration_config":{"module_configurations":{"llm_module_config":{"model_name":"anthropic--claude-4.5-haiku","model_params":{"max_tokens":500,"temperature":0.7}},"templating_module_config":{"template":[{"role":"user","content":"{{?user_input}}"}]}}},"input_params":{"user_input":"Was ist SAP BTP? Erklaere es in 3 Saetzen."}}}}},"responses":{"200":{"description":"Successful completion response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/CompletionResponse"},"example":{"request_id":"abc-123-def-456","orchestration_result":{"id":"chatcmpl-123","object":"chat.completion","created":1710000000,"model":"anthropic--claude-4.5-haiku","choices":[{"index":0,"message":{"role":"assistant","content":"SAP BTP ist die Business Technology Platform von SAP."},"finish_reason":"stop"}],"usage":{"completion_tokens":50,"prompt_tokens":20,"total_tokens":70}}}}}},"400":{"description":"Bad Request","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}}}}}}},"components":{"schemas":{"CompletionRequest":{"type":"object","required":["orchestration_config","input_params"],"properties":{"orchestration_config":{"type":"object","required":["module_configurations"],"description":"The orchestration configuration with module settings","properties":{"module_configurations":{"type":"object","required":["llm_module_config","templating_module_config"],"properties":{"llm_module_config":{"type":"object","required":["model_name","model_params"],"properties":{"model_name":{"type":"string","description":"The LLM model name","example":"anthropic--claude-4.5-haiku"},"model_params":{"type":"object","properties":{"max_tokens":{"type":"integer","description":"Maximum tokens in the response","example":500},"temperature":{"type":"number","description":"Temperature for response randomness","example":0.7}}},"model_version":{"type":"string","description":"The model version","example":"latest"}}},"templating_module_config":{"type":"object","required":["template"],"properties":{"template":{"type":"array","description":"The prompt template messages","items":{"type":"object","required":["role","content"],"properties":{"role":{"type":"string","description":"The message role","enum":["system","user","assistant"],"example":"user"},"content":{"type":"string","description":"The message content with optional placeholders like {{?variable_name}}","example":"{{?user_input}}"}}}},"defaults":{"type":"object","description":"Default values for template placeholders","additionalProperties":{"type":"string"}}}}}}}},"input_params":{"type":"object","description":"Dynamic input values for the template placeholders","additionalProperties":{"type":"string"},"example":{"user_input":"Was ist SAP BTP?"}}}},"CompletionResponse":{"type":"object","properties":{"request_id":{"type":"string","description":"The unique request identifier"},"orchestration_result":{"type":"object","properties":{"id":{"type":"string","description":"The completion ID"},"object":{"type":"string","description":"The object type"},"created":{"type":"integer","description":"Unix timestamp of creation"},"model":{"type":"string","description":"The model used"},"choices":{"type":"array","items":{"type":"object","properties":{"index":{"type":"integer"},"message":{"type":"object","properties":{"role":{"type":"string"},"content":{"type":"string","description":"The LLM generated response text"}}},"finish_reason":{"type":"string"}}}},"usage":{"type":"object","properties":{"completion_tokens":{"type":"integer"},"prompt_tokens":{"type":"integer"},"total_tokens":{"type":"integer"}}}}}}},"ErrorResponse":{"type":"object","properties":{"error":{"type":"object","properties":{"message":{"type":"string"},"code":{"type":"string"}}}}}},"securitySchemes":{"bearerAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"OAuth2 Bearer Token from SAP AI Core"}}},"security":[{"bearerAuth":[]}]}
